.menu-toggle::after {
    width: 0.6em;
    height: 0.6em;
    border: 2px solid;
    border-bottom: 0;
}

[dir=rtl] .menu-toggle::after {
    border-left: 2px solid !important;
}
[dir=rtl] .menu-vertical .menu-item .menu-toggle::after {
    color: var(--bs-primary)
}
.bg-menu-theme .menu-link,
.bg-menu-theme .menu-horizontal-prev,
.bg-menu-theme .menu-horizontal-next {
    color: white;
}

.bg-menu-theme .menu-link:hover,
.bg-menu-theme .menu-link:focus,
.bg-menu-theme .menu-horizontal-prev:hover,
.bg-menu-theme .menu-horizontal-prev:focus,
.bg-menu-theme .menu-horizontal-next:hover,
.bg-menu-theme .menu-horizontal-next:focus {
    color: var(--bs-primary)
}
.bg-menu-theme .menu-link.active,
.bg-menu-theme .menu-horizontal-prev.active,
.bg-menu-theme .menu-horizontal-next.active {
    color: var(--bs-primary)
}
.bg-menu-theme .menu-item.open:not(.menu-item-closing) > .menu-toggle,
.bg-menu-theme .menu-item.active > .menu-link {
    color: var(--bs-primary)
}
.bg-menu-theme .menu-item.active > .menu-link:not(.menu-toggle) {
    background-color: transparent;
}